######################################################################
# DisplayEncoder config
######################################################################

[mcu displayEncoder]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_160007000143535031303820-if00
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: displayEncoder
i2c_bus: i2c1a
encoder_pins: ^displayEncoder:PA3, ^displayEncoder:PA4
click_pin: ^!displayEncoder:PA1
kill_pin: ^!displayEncoder:PA5
#x_offset: 2 # Use X offset to shift the display towards the right. Value can be 0 to 3
vcomh: 31
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)

[neopixel displayStatus]
pin: displayEncoder:PA0
chain_count: 1
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.005
initial_BLUE: 0.005


######################################################################
# BME680 chamber sensor
######################################################################

[display_glyph chamber]
data:
  ................
  ................
  .**************.
  .*............*.
  .*...*....*...*.
  .*....*....*..*.
  .*...*....*...*.
  .*..*....*....*.
  .*...*....*...*.
  .*....*....*..*.
  .*...*....*...*.
  .*.**********.*.
  .*............*.
  .**************.
  ................
  ................

# Add glyph to main screen
[display_data _default_16x4 speed_factor]
position: 1, 10
text:
  ~chamber~
  { "%3.0f" % (printer["temperature_sensor env_sensor"].temperature,) }
  ~degrees~

######################################################################
# Custom Menus
######################################################################
[menu __main __octoprint]
type: disabled

[menu __main __print] # should only be visible while printing
type: list
name: Print
enable: {printer.idle_timeout.state == "Printing"}

[menu __main __print __pause]
type: command
name: Pause print
enable: {printer.idle_timeout.state == "Printing"}
gcode:
    PAUSE

[menu __main __print __resume]
type: command
name: Resume print
enable: {not printer.idle_timeout.state == "Printing"}
gcode:
    RESUME

[menu __main __print __cancel]
type: command
name: Cancel print
enable: True
gcode:
    CANCEL_PRINT


[menu __main __extras]
type: list
name: Extras


[menu __main __extras __ledsonoff]
type: input
enable: {'led ligths' in printer}
name: LEDs: {'ON ' if menu.input else 'OFF'}
input: {printer['led ligths'][3]}
input_min: 0
input_max: 1
input_step: 1
gcode:
    SET_LED LED=lights WHITE={0.2 if menu.input else 0}

[menu __main __extras __ledscontrol]
type: input
enable: {'led ligths' in printer}
name: LEDs Power: {menu.input}
input: {printer['led ligths'][3]}
input_min: 0
input_max: 0.2
input_step: 0.02
gcode:
    SET_LED LED=lights WHITE={menu.input}