#####################################################################
#	   MACROS
#####################################################################

#####################################################################
#      Start/End/Cancel
#####################################################################

[gcode_macro PRINT_START] # params: EXTRUDER, BED
description: Start gcode - Heat up printer, check homing, draw a purge line
gcode:
    # Set temperatures
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(210)|float %}
    
    M140 S{BED_TEMP}
    # M104 S{EXTRUDER_TEMP}     ; only set bed temp, give time for heat to sink

    TURN_ON_LEDS VALUE=0.1
    DISPLAY_STATUS STATUS=printing
    
    _HOME_IF_NOT_HOMED          ; Home all axes
    G90                         ; set absolute mode
    SHOW_PRINTHEAD              ; Bring printhead forward for last-minute cleaning

    # Wait for temperatures
    M190 S{BED_TEMP}            ; Set and wait for bed temp
    M109 S{EXTRUDER_TEMP}       ; Set and wait for extruder temp

    _DRAW_PURGE_LINE
    G92 E0.0

[gcode_macro _DRAW_PURGE_LINE]
description: Draw a purge line
gcode:
    SAVE_GCODE_STATE NAME=purge
    G90                         ; set absolute mode

    G1 Z2.0 F3000               ; move Z=2 to prevent scratching

    G1 X5 Y1 F12000             ; Move to initial position
    G1 Z0.28 F500               ; lower to start of intro line
    M83                         ; set extruder to relative

    G1 X50 E5.0 F2500.0         ; to the right, to the right
    G1 Y1.3 F6000               ; move .3mm forward
    G1 X5 E6.0 F2000.0          ; to the left, to the left

    G1 Z2.0 F3000               ; move Z=2 again to prevent scratching

    RESTORE_GCODE_STATE NAME=purge

[gcode_macro PRINT_END]
description: End gcode
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-0.2 F3600                 ; retract a tiny bit of filament

    TURN_OFF_HEATERS
    TURN_OFF_FANS
    M220 S100 ;Reset Speed factor override percentage to default (100%)
    M221 S100 ;Reset Extrude factor override percentage to default (100%)
    PARK

    TURN_OFF_FILTER_DELAYED
    TURN_OFF_LEDS_DELAYED
    DISPLAY_STATUS STATUS=standby

[gcode_macro CANCEL_PRINT]
description: Cancel print
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    TURN_OFF_FANS
    TURN_OFF_SMART_FILTER
    CLEAR_PAUSE
    M220 S100 ;Reset Speed factor override percentage to default (100%)
    M221 S100 ;Reset Extrude factor override percentage to default (100%)
    PARK
    BASE_CANCEL_PRINT


#####################################################################
#	   Parking
#####################################################################

# Raise Z with a safeguard against hitting the ongoing prrint
[gcode_macro _SAFE_LIFT]
gcode:
    {% set default_lift_z = 2.0 %}

    {% if params.Z_LIFT is defined and params.Z_LIFT >= 0 %}
        {% set lift_z = params.Z_LIFT|float %}
    {% else %}
        {% set lift_z = default_lift_z %}
    {% endif %}
   
    {% set max_z = printer.toolhead.axis_maximum.z|float %}   ; calculate safe raise position
    {% set act_z = printer.toolhead.position.z|float %}
    {% if (act_z + lift_z) > max_z %}
        {% set z_safe = max_z %}
    {% else %}
        {% set z_safe = act_z + lift_z %}
    {% endif %}

    SAVE_GCODE_STATE NAME=safe_lift 

    G90
    G1 Z{z_safe} F900

    RESTORE_GCODE_STATE NAME=safe_lift 


[gcode_macro PARK]
description: Park printhead
gcode:
    {% set x_park = params.X|default(printer.toolhead.axis_maximum.x|float - 5.0)|float %}
    {% set y_park = params.Y|default(printer.toolhead.axis_maximum.y|float - 5.0)|float %}
    {% set lift_z = params.Z_LIFT|default(2.0)|float %}

    SAVE_GCODE_STATE NAME=park 

    G90
    _SAFE_LIFT Z_LIFT={lift_z}
    G1 X{x_park} Y{y_park} F9000

    RESTORE_GCODE_STATE NAME=park 


#####################################################################
#	   Saved Posiitons
#####################################################################

# Move printhead to an accessible spot for maintenance, raised 20mm
[gcode_macro SHOW_PRINTHEAD]
description: Move printhead to the middle-front
gcode:
    {% set x = printer.toolhead.axis_maximum.x|float / 2.0 %}
    {% set y = 5.0 %}
    {% set z = 40.0 %}
    {% set f = 9000 %}
    
    SAVE_GCODE_STATE NAME=move 

    _HOME_IF_NOT_HOMED

    G90
    G1 X{x} Y{y} Z{z} F{f}

    RESTORE_GCODE_STATE NAME=move 

# Move printhead to the centre of the bed
[gcode_macro CENTER]
description: Move printhead to the center of the bed
gcode:
    {% set x = printer.toolhead.axis_maximum.x|float / 2.0 %}
    {% set y = printer.toolhead.axis_maximum.y|float / 2.0 %}
    {% set z = 40.0 %}    
    {% set f = 9000 %}

    SAVE_GCODE_STATE NAME=move 

    _HOME_IF_NOT_HOMED

    G90
    G1 X{x} Y{y} Z{z} F{f}

    RESTORE_GCODE_STATE NAME=move 


#####################################################################
#	   Pause/Resume
#####################################################################

[pause_resume] ; Enable pause/resume

# Wrapper for PAUSE to allow for further configuration; This is what is triggered by the UI.
[gcode_macro PAUSE]
description: Pause print and park
rename_existing: BASE_PAUSE
gcode:
    DISPLAY_STATUS STATUS=paused
    _PAUSE
    PARK
   
# Simple PAUSE routine, with retraction; RESUME expects to de-retract
[gcode_macro _PAUSE]
variable_extrude: 0.2
description: Pause print
gcode:
    {% set E = printer["gcode_macro _PAUSE"].extrude|float %}         ; read E from pause macro
    
    SAVE_GCODE_STATE NAME=PAUSE_state 
    
    BASE_PAUSE

    M83
    G1 E-{E} F2100

# Simple RESUME routine. De-retracts PAUSE
[gcode_macro RESUME]
description: Resume the print, de-retract the same amount that _PAUSE retracts
rename_existing: BASE_RESUME
gcode:
    {% set E = printer["gcode_macro _PAUSE"].extrude|float %}         ; read E from pause macro
    
    M83
    G1 E{E} F2100

    RESTORE_GCODE_STATE NAME=PAUSE_state
    M117                                                              ; clear display

    DISPLAY_STATUS STATUS=printing
    BASE_RESUME


[gcode_macro CANCEL_PRINT]
description: Cancel print
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    TURN_OFF_FANS

    TURN_OFF_FILTER_DELAYED
    TURN_OFF_LEDS_DELAYED

    CLEAR_PAUSE
    M220 S100 ;Reset Speed factor override percentage to default (100%)
    M221 S100 ;Reset Extrude factor override percentage to default (100%)
    PARK
    DISPLAY_STATUS STATUS=cancelled

    BASE_CANCEL_PRINT


## Load/unload
    
#####################################################################
#	   Load/unload
#####################################################################
   
[gcode_macro UNLOAD_FILAMENT]
description: Unload filament
gcode:
    SAVE_GCODE_STATE NAME=unload
    M400
    M117 Unoading plastic...

    M83                            ; set extruder to relative
    G1 E1 F300                     ; extrude a little to soften tip
    G1 E-50 F1800                  ; retract 

    M400
    M117 Unoaded!
    RESTORE_GCODE_STATE NAME=unload

[gcode_macro LOAD_FILAMENT]
description: Load filament
gcode:
    SAVE_GCODE_STATE NAME=load
    M400
    M117 Loading plastic...
    
    M83                            ; set extruder to relative
    G1 E30 F300                    ; load
    G1 E15 F150                    ; prime nozzle with filament
    
    M400
    M117 Loaded!
    RESTORE_GCODE_STATE NAME=load


#####################################################################
#	   Remappings
#####################################################################

# Pause&unload filament
[gcode_macro M600] # Pause & swap filament filament
description: Pause print and swap filament
gcode:
    {% set x = printer.toolhead.axis_maximum.x|float / 2.0 %}
    {% set y = 5.0 %}
    {% set z = 30.0 %}
    
    _PAUSE                        ;
    PARK X={x} Y={y} Z_LIFT={z}   ; same as PAUSE, but with custom PARK position (Z is relative)
    UNLOAD_FILAMENT
    M117 PLS load plastic!

# Pause remapping for SuperSlicer
[gcode_macro M601]
description: Pause print
gcode:
    PAUSE                      ; default PAUSE, PARKs in the back
    M117 PLS add extras!

# Conditional G28
[gcode_macro _HOME_IF_NOT_HOMED]
description: Home all axes, if not already homed
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}

# Clear up M117 messages after 10 seconds
#
#[gcode_macro M117]
#rename_existing: M117.1
#gcode:
#    M117.1 { rawparams }
#    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
#
#[delayed_gcode clear_display]
#gcode:
#    M117

[gcode_macro TURN_OFF_MOTORS]
description: Turn off motors
gcode:
    M84

[gcode_macro TURN_OFF_FANS]
description: Turn off fans
gcode:
    M106 S0


#####################################################################
#	   LEDs
#####################################################################

[gcode_macro TURN_ON_LEDS]
description: Turn on LED ligths
gcode:
    {% set VALUE = params.VALUE|default(0.1)|float %}
    SET_PIN PIN=lights VALUE={VALUE}

[gcode_macro TURN_OFF_LEDS]
description: Turn off LED ligths
gcode:
    SET_PIN PIN=lights VALUE=0


[gcode_macro TURN_OFF_LEDS_DELAYED]
description: Turn off the lights after 2 minutes
gcode:
    {% set DURATION = params.SECONDS|default(120)|float %}
    UPDATE_DELAYED_GCODE ID=_TURN_OFF_LEDS_DELAYED DURATION={DURATION}

[delayed_gcode _TURN_OFF_LEDS_DELAYED]
gcode:
    TURN_OFF_LEDS


[gcode_macro DISPLAY_STATUS]
gcode: 
    {% if params.STATUS == "standby" %}
        SET_LED LED=displayStatus RED=0.00 GREEN=0.005 BLUE=0.005
    {% elif params.STATUS == "printing" %}
        SET_LED LED=displayStatus RED=0.00 GREEN=0.03 BLUE=0.00
    {% elif params.STATUS == "paused" %}
        SET_LED LED=displayStatus RED=0.02 GREEN=0.02 BLUE=0.00
    {% elif params.STATUS == "cancelled" %}
        SET_LED LED=displayStatus RED=0.03 GREEN=0.00 BLUE=0.00
    {% endif %}